[Desktop Entry]
Type=Application
TryExec=/home/parrot/.cargo/bin/alacritty
Exec=/home/parrot/.cargo/bin/alacritty
Icon=/home/parrot/.cargo/registry/src/index.crates.io-6f17d22bba15001f/alacritty-0.12.3/extra/logo/alacritty-simple.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=alacritty
